
models/12140_Skull_v3_L2.mtl
models/12140_Skull_v3_L2.obj
models/2-Gears-HIGH.mtl
models/2-Gears-HIGH.obj
models/2-Gears-LOW.mtl
models/2-Gears-LOW.obj
models/2-Gears-MID.mtl
models/2-Gears-MID.obj
models/_skull.mdl
models/arma.mtl
models/arma.obj
models/arma.off
models/box 2.mtl
models/box 2.obj
models/box.obj
models/box.off
models/box2.off
models/box3.off
models/box_ori.obj
models/hemisphere.obj
models/legoToys.obj
models/ring-outtest.obj
models/ring.obj
models/ring2.obj
models/Rock1.mtl
models/Rock1.obj
models/rx-7 veilside fortune.mtl
models/rx-7 veilside fortune.obj
models/skull.mdl
models/sphere-outtest.obj
models/sphere.mtl
models/sphere.obj
models/sphere.off
models/sphere3.mtl
models/sphere3.obj
models/sphere3.off
models/sphere_box.mtl
models/sphere_box.obj
models/sphere_box.off
models/teapot-outtest.obj
models/teapot.mtl
models/teapot.obj
models/teapot.off
outModel.obj
outtest.obj
converted/12140_Skull_v3_L2.mdl
converted/2-Gears-LOW.mdl
converted/box.mdl
converted/skull.mdl
converted/sphere.mdl
textures/Rock-Texture-Surface.bmp
textures/Skull.bmp
textures/tex.bmp
textures/tex2.bmp
x64/Debug/Converter.Build.CppClean.log
x64/Debug/Converter.log
x64/Debug/Converter.obj
x64/Debug/Converter.tlog/CL.command.1.tlog
x64/Debug/Converter.tlog/CL.read.1.tlog
x64/Debug/Converter.tlog/CL.write.1.tlog
x64/Debug/Converter.tlog/Converter.lastbuildstate
x64/Debug/Converter.tlog/link.command.1.tlog
x64/Debug/Converter.tlog/link.read.1.tlog
x64/Debug/Converter.tlog/link.write.1.tlog
x64/Debug/Converter.vcxproj.FileListAbsolute.txt
x64/Debug/vc142.idb
x64/Debug/vc142.pdb
x64/Release/Converter.Build.CppClean.log
x64/Release/Converter.log
x64/Release/Converter.obj
x64/Release/Converter.tlog/CL.command.1.tlog
x64/Release/Converter.tlog/CL.read.1.tlog
x64/Release/Converter.tlog/CL.write.1.tlog
x64/Release/Converter.tlog/Converter.lastbuildstate
x64/Release/Converter.tlog/Converter.write.1u.tlog
x64/Release/Converter.tlog/link.command.1.tlog
x64/Release/Converter.tlog/link.delete.1.tlog
x64/Release/Converter.tlog/link.read.1.tlog
x64/Release/Converter.tlog/link.write.1.tlog
x64/Release/Converter.vcxproj.FileListAbsolute.txt
x64/Release/vc142.pdb
